.header{
    flex-direction: row;
    padding: 0 10%;
    height: 100px;
    z-index: 2;
}
.logo{
    width: 50%;
}
.menu-circle{
    display: none;
}
.menu{
    justify-content: flex-end;
}
.menu-mobile{
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    left: 0;
    height: 100px;
    background: none;
}
.menu-boton{
    font-size: 1.5rem;
    min-width: 80px;
    border-radius: 0;
    box-shadow: none;
    transition: 500ms;
}
.boton-border{
    border-bottom: 1px solid #2196f3;
}
.menu-boton:hover{
    border-radius: 10px;
    background-color: #2195f391;
}