.header{
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10%;
    height: 100px;
}
.logo{
    width: 50%;
}
.menu{
    width: 50%;
    justify-content: flex-end;
}
.menu a{
    margin: 0 10px;
}

.box:hover .name{
    opacity: 1;
    top: 30px;
}
.box:hover .rrss{
    opacity: 1;
    bottom: 60px;
}
