.header{
    flex-direction: row;
    padding: 0 10%;
    height: 100px;
    z-index: 2;
}
.logo{
    width: 50%;
    margin: 0;
}
.menu-circle{
    display: none;
}
.menu{
    justify-content: flex-end;
}
.menu-mobile{
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
    left: 0;
    height: 100px;
    background: none;
}
.menu-boton{
    font-size: 1.5rem;
    min-width: 80px;
    border-radius: 0;
    box-shadow: none;
    transition: 500ms;
}
.boton-border{
    border-bottom: 1px solid #2196f3;
}
.menu-boton:hover{
    border-radius: 10px;
    background-color: #2195f391;
}

.home-animation h1{
    font-size: 10rem;
}

.artist-card{
    animation: none;
}
.boton:hover{
    transition: 500ms;
    color: #cccccc;
    background: #2196f3;
    border: 3px solid white;
    box-shadow: 0 0 10px #ffffff, 0 0 40px #2196f3, 0 0 80px #2196f3
}
.inactive{
    display: none;
}

.artist-background, .album-background{
    width: 100vw;
    height: 100vh;
}
.album-container{
    width: 100vw;
    padding: 0 100px;
}
.album-desktop{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.album-portada{
    width: 50%;
}
.album-portada img{
    width: 70%;
}
.album-details-desktop{
    width: 50%;
}
.album-details{
    width: 50%;
}

