.menu-circle{
    width: 35px;
    height: 35px;
}
.menu-mobile{
    width: 50vw;
}
.active{
    left: 50vw;
}


.home-title{
    font-size: 5rem;
    bottom: 180px;
}

.album{
    height: 110vh;
}
.album-background{
    height: 110vh;
}
.album-title{
    font-size: 7rem;
    margin-bottom: 30px;
}
.album-portada{
    width: 80%;
    margin-bottom: 30px;
}
.album-details{
    width: 90%;
}
.inactive{
    display: none;
}

.artist-desktop{
    display: flex;
    flex-direction: row;
}
footer{
}