.header-logo img{
    transform: scale(1.2);
}
.header-button{
    width: 35px;
    height: 35px;
}
.menu-boton{
    font-size: 3rem;
    padding: 20px 10px;
    min-width: 225px;
}

.home-title{
    font-size: 5rem;
}
.home-button{
    padding: 13px 15px;
    font-size: 2rem;
}

.banda{
    height: 80vh;
}
.banda-background{
    height: 100%;
}
.banda-details{
    font-size: 2.5rem;
}
.banda-container{
    justify-content: space-evenly;
}
.banda-button{
    font-size: 2rem;
    padding: 20px;
}

.album{
    height: 90vh;
}
.album-background{
    height: 100%;
}

.album-title{
    font-size: 5rem;
    margin-bottom: 30px;
}
.album-portada{
    width: 50%;
    margin-bottom: 20px;
}
.album-details{
    width: 90%;
    font-size: 2.5rem;
}
.album-button{
    font-size: 2rem;
    padding: 20px;
}

.videoclips-video{
    width: 300px;
    height: auto;
}

.artist-background{
    min-height: 700px;
}
.artist-card{
    margin: 0 30px;
    height: 500px;
}
.artist-image{
    width: 250px;
    height: 350px;
}


.discografia-button{
    width: auto;
    font-size: 2rem;
    padding: 20px;
}
.videoclips-button{
    width: auto;
    font-size: 2rem;
    padding: 20px;
}


.footer-title{
    font-size: 3rem;
}
.social-media{
    margin: 20px;
}
.rrss{
    width: 50px;
}
footer .rights{
    font-size: 1.5rem;
}